<div class="card text-white bg-info">
	<div class="card-header"> Listagem de Pessoas </div>
	<div class="card-body">
		<div class="row">
		    <div class="col-md-3">
		    	<div class="form-group">
		    		<label for="nome">Nome</label>
		    		<input type="text" name="nome" class="form-control" [(ngModel)]="nome">
		    		<div class="alert alert-danger" role="alert" *ngIf="">
		    		  Campo nome é obrigatório!
		    		</div>
		    	</div>
		    </div>
		    <div class="col-md-3">
		    	<div class="form-group">
		    		<label for="cpf">CPF</label>
		    		<input type="number" name="cpf" class="form-control" [(ngModel)]="cpf">
		    	</div>
		    </div>	    
		    <div class="col-md-2 buttons">
		    	<br>
		    	<div class="row">
		    		<div class="form-group col-md-6">
		    			<button type="button" class="btn btn-secundary" (click)="getPessoas()">Pesquisar</button>
		    		</div>
		    		<div class="form-group col-md-6">
		    			<button type="button" class="btn btn-primary" [routerLink]="'/cadastrar-empresa'">Cadastrar</button>
		    		</div>
		    	</div>
	    		<br>
		    </div>
	    </div>

		<table mat-table [dataSource]="pessoas" class="mat-elevation-z8 col-md-8">
			<ng-container matColumnDef="id">
			    <th mat-header-cell *matHeaderCellDef> ID </th>
			    <td mat-cell *matCellDef="let pessoa"> {{pessoa.id}} </td>
			</ng-container>

			<ng-container matColumnDef="nome">
			    <th mat-header-cell *matHeaderCellDef> Nome </th>
			    <td mat-cell *matCellDef="let pessoa"> {{pessoa.nome}} </td>
			</ng-container>

			<ng-container matColumnDef="email">
			    <th mat-header-cell *matHeaderCellDef> E-mail </th>
			    <td mat-cell *matCellDef="let pessoa"> {{pessoa.email}} </td>
			</ng-container>

			<ng-container matColumnDef="cpf">
			    <th mat-header-cell *matHeaderCellDef> CPF </th>
			    <td mat-cell *matCellDef="let pessoa"> {{pessoa.cpf}} </td>
			</ng-container>

			<ng-container matColumnDef="idade">
			    <th mat-header-cell *matHeaderCellDef> Idade </th>
			    <td mat-cell *matCellDef="let pessoa"> {{pessoa.idade}} </td>
			</ng-container>

			<ng-container matColumnDef="qtdTelefones">
			    <th mat-header-cell *matHeaderCellDef> Quantidade de Telefones  </th>
			    <td mat-cell *matCellDef="let pessoa"> {{pessoa.telefones.length}} </td>
			</ng-container>

			<ng-container matColumnDef="acoes">
			    <th mat-header-cell *matHeaderCellDef> Ações  </th>
			    <td mat-cell *matCellDef="let pessoa; let i = index">
			    	<button type="button" class="btn btn-info btn-sm grid-button" [routerLink]="['/editar-pessoa', pessoa.id]"><i class="fa fa-pencil"></i></button>
			    	<button type="button" class="btn btn-danger btn-sm" (click)="excluirPessoa(i,pessoa)"><i class="fa fa-trash"></i></button>
			    </td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="colunas"></tr>
			<tr mat-row *matRowDef="let row; columns: colunas;"></tr>
			
		</table>
		
	</div>
	<div class="card-footer text-muted">
	  </div>
</div>
